body::before {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1612502348_62-p-serii-fon-s-klipartom-shkola-110.jpg'); /* Путь к картинке */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  filter: blur(2px); /* Размытие картинки */
}
